<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.casttvandroiddemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5547879489127772~7763815381"/>
        <service
            android:name=".Service.VolumeService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="design width in dp"
            android:value="360" />
        <meta-data
            android:name="design height in dp"
            android:value="640" />

        <activity
            android:name=".RemoteControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InternetHistoryList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CastVideoListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnableClosedCaptioningActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceAdd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceManage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivityTest"
            android:exported="false"/>
    </application>

</manifest>